*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, a, button {
    line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

@media (max-width: 768px) {
    
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 22px;
    }
    
    h3 {
        font-size: 18px;
    }
}

p {
    line-height: 1.4;
    margin-bottom: 6px;
}

p, a, div {
    color: var(--text);
}

a[href^="tel"] {
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--accent);
    opacity: 1;
    transition: 0.3s opacity;
}

a:hover {
    opacity: 0.8;
    transition: 0.3s opacity;
}

:root[data-theme="light"] {
    --text: #06080a;
    --background: #fcfcfc;
    --primary: #4273c7;
    --secondary: #84a8e7;
    --accent: #1962e0;

    --scrollbar: #e2e2e2;
    --scrollthumb: #adadad;
    --scrollthumb-hover: #888888;
}

:root[data-theme="dark"] {
    --text: #f5f7f9;
    --background: #060a0e;
    --primary: #2c5db3;
    --secondary: #183d7b;
    --accent: #1962e0;

    --scrollbar: #e2e2e2;
    --scrollthumb: #adadad;
    --scrollthumb-hover: #888888;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 16px;
    background: transparent; 
}

::-webkit-scrollbar-track {
    background: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollthumb);
    border: 4px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollthumb-hover);
    border: 4px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
}

/* SELECTION */

::-moz-selection {  
    background: #3763ae77;
}

::selection {
    background: #3763ae77;
}



.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 25px;
}

/* NAVBAR */

.navbar {
    margin-bottom: 25px;
}

.navbar .container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 80px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    height: 100%;
}

@media (max-width: 400px) {
    .navbar ul {
        gap: 15px;
    }
}

.navbar ul li {
    display: flex;
    align-items: center;
    height: 100%;
}

/* CONTENT */

section {
    padding: 25px 0;
}

section ul {
    margin-left: 15px;
}

section ul li {
    margin-bottom: 3px;
}

section .prof {
    opacity: 0.5;
}

section .subjects > li {
    margin-bottom: 15px;
}

section .subjects > li > ul {
    margin-top: 6px;
}

/* FOOTER */

footer .container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .copyright {
    height: fit-content;
    width: fit-content;
    opacity: 0.8;
    font-size: 14px;
}